---
import Layout from "../layouts/Layout.astro";
import { Content as IndexContent } from "../components/IndexContent.mdx";
---

<Layout>
  <div class="title-group">
    <h1 class="tx-left">放送大学</h1>
    <h1 class="tx-center">北海道学習センター</h1>
    <h1 class="tx-right">文化祭 2026</h1>
  </div>
  <IndexContent />
</Layout>
